# JWT
JWT_SECRET_KEY=development-secret-key

# DB
CONNECTION_STRING=Host=localhost;Port=5432;Database=ecommerce;Username=postgres;Password=postgres

# email
SMTP_HOST=smtp.mail.com
SMTP_PORT=587
SMTP_USERNAME=email@mail.com
SMTP_PASSWORD=app-password

# pagarme
PAGARME_API_KEY=pagarme-api-key
