# Build output
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userprefs

# Rider
.idea/

# VS Code
.vscode/

# NuGet packages
*.nupkg
packages/

# Logs
*.log

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# DotEnv
.env

# Secrets
secrets.json

# Others
*.vspscc
*.vssscc
